<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Action</th>
    </tr>

    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}"></td>
        <td th:text="${publisher.name}"></td>
        <td th:text="${publisher.address}"></td>
        <td>
            <a th:href="@{'/editPublisher/'+${publisher.id}}" class="btn btn-outline-info">Edit</a>
            <a th:href="@{'/deletePublisher/'+${publisher.id}}" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
</table>

<a href="/newPublisher">create new publisher</a>

</body>
</html>